# Installation

** python -m spacy.en.download --force **

The above command ensures we download all the data that is required for spacy

In [ ]:
from spacy.en import English
from spacy import attrs

In [ ]:
parser = English()

In [ ]:
parsedData = parser('A quick brown fox jumped over the lazy dog. Who let the dogs out, who who who?')

In [ ]:
for sent in parsedData.sents:
    print(sent)

In [ ]:
# reading a paragraph as multi sentence and pushing all the words into a list

tokens= []

for span in parsedData.sents:
    # trying to extract a word sentence wise
    for i in range(span.start,span.end):
        tokens.append(parsedData[i])

    
print(tokens)

In [ ]:
# here we are identfying the pos tags
for token in tokens:
    print(token.orth_,token.pos_)

In [108]:
import requests
from bs4 import BeautifulSoup 
import re
import pandas as pd

In [270]:
base_url = 'http://www.datatau.com'

In [271]:
df = pd.DataFrame(columns=['title','date'])

In [272]:
df.count()

title    0
date     0
dtype: int64

In [273]:
def get_data_from_tau(url):
    print(url)
    dataTau = requests.get(url)
    soup = BeautifulSoup(dataTau.content,'html.parser')
    title_class = soup.select('td .title > a:nth-of-type(1)')
    date_class = soup.select('.subtext')
    print(len(title_class),len(date_class))
    for i in range(len(title_class)-1):
        df.loc[df.shape[0]] = [title_class[i].get_text(),date_class[i].get_text()]
    print('updated df with data')
    return title_class[len(title_class) - 1]

In [274]:
url = base_url
for i in range(0,6):
    more_url = get_data_from_tau(url)
    url = base_url+more_url['href']

http://www.datatau.com
31 30
updated df with data
http://www.datatau.com/x?fnid=TuUjFmMXRM
31 30
updated df with data
http://www.datatau.com/x?fnid=HIES6oUTEi
31 30
updated df with data
http://www.datatau.com/x?fnid=jP4LLGjzzo
31 30
updated df with data
http://www.datatau.com/x?fnid=H1ITzQerLc
31 30
updated df with data
http://www.datatau.com/x?fnid=HESoCe6lCk
31 30
updated df with data

In [275]:
df.shape

(180, 2)

In [276]:
df.head()

,title,date
0,10 Years of Open Source Machine Learning,2 points by tstonez 4 hours ago | discuss
1,Data science intro for math/phys background,4 points by pmigdal 13 hours ago | discuss
2,Data Science Tools: The Biggest Winners and Lo...,5 points by AnnaOnTheWeb 20 hours ago | discuss
3,Making transparent how variations in analytica...,2 points by rahmaniacc 12 hours ago | discuss
4,Neural Networks demystified,11 points by elyase 1 day ago | discuss