- Regular Expression (http://regexr.com/)

Stopword Removal, Stemming

Regex - Regular expression is a way of selecting text using symbols

In [2]:
import re

In [3]:
test_string = "Hello world, welcome to 2016."

In [4]:
a = re.search('Hello world,welcome to 2016',test_string)

In [5]:
print(a)

None

In [6]:
a = re.search('Hello world, welcome to 2016',test_string)

In [7]:
print(a)

<_sre.SRE_Match object; span=(0, 28), match='Hello world, welcome to 2016'>

In [8]:
a = re.search('.',test_string)

In [9]:
print(a)

<_sre.SRE_Match object; span=(0, 1), match='H'>

In [10]:
a = re.search('.*',test_string)

In [11]:
print(a)

<_sre.SRE_Match object; span=(0, 29), match='Hello world, welcome to 2016.'>

In [12]:
a = re.search('Hello',test_string)
print(a)

<_sre.SRE_Match object; span=(0, 5), match='Hello'>


?	The question mark indicates zero or one occurrences of the preceding element. For example, colou?r matches both "color" and "colour".

\*	The asterisk indicates zero or more occurrences of the preceding element. For example, ab*c matches "ac", "abc", "abbc", "abbbc", and so on.

\+	The plus sign indicates one or more occurrences of the preceding element. For example, ab+c matches "abc", "abbc", "abbbc", and so on, but not "ac".

In [13]:
a = re.search('\w.',test_string)
print(a)

<_sre.SRE_Match object; span=(0, 2), match='He'>

In [14]:
a = re.search('\w*',test_string)
print(a)

<_sre.SRE_Match object; span=(0, 5), match='Hello'>

# Using regex lets generate another column

In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('data_tau.csv')

In [17]:
df.head()

,Unnamed: 0,title,date
0,0,10 Years of Open Source Machine Learning,7 points by tstonez 19 hours ago | 1 comment
1,1,What machines can learn from Apple Watch: dete...,2 points by koukouhappy 7 hours ago | discuss
2,2,The Deep Roots of Javascript Fatigue,3 points by nikkielizdemere 13 hours ago | di...
3,3,Data science intro for math/phys background,9 points by pmigdal 1 day ago | discuss
4,4,"Data Science Pop-Up in Austin, TX",2 points by AnnaOnTheWeb 13 hours ago | discuss

In [18]:
df.columns

Index(['Unnamed: 0', 'title', 'date'], dtype='object')

In [19]:
df.drop('Unnamed: 0',inplace=True,axis=1)

In [20]:
df.head()

,title,date
0,10 Years of Open Source Machine Learning,7 points by tstonez 19 hours ago | 1 comment
1,What machines can learn from Apple Watch: dete...,2 points by koukouhappy 7 hours ago | discuss
2,The Deep Roots of Javascript Fatigue,3 points by nikkielizdemere 13 hours ago | di...
3,Data science intro for math/phys background,9 points by pmigdal 1 day ago | discuss
4,"Data Science Pop-Up in Austin, TX",2 points by AnnaOnTheWeb 13 hours ago | discuss

In [21]:
df.tail()

,title,date
175,Finding Nearest Neighbors in SQL,7 points by jonathanbishop 50 days ago | 2 co...
176,Free Data Science Curriculum,8 points by Veerle 52 days ago | discuss
177,Deep Learning is Easy - Learn Something Harder,5 points by ebellm 48 days ago | discuss
178,"FlyElephant as a tool for calculations in C++,...",6 points by m31 51 days ago | discuss
179,Yahoo Releases the Largest-ever Machine Learni...,13 points by srinify 62 days ago | 1 comment

In [27]:
date_string = df['date'][0]

In [28]:
print(date_string)

7 points by tstonez 19 hours ago  | 1 comment

In [29]:
re.search('hours',date_string)

In [30]:
date_string = df['date'][50]

In [31]:
print(date_string)

9 points by brian_spiering 15 days ago  | discuss

In [32]:
re.search('hours',date_string)

In [36]:
re.search('\d+ day',date_string)

** if the string contains hours we can consider it 1 day and if it has days we can pick the days **

In [37]:
def return_reg_ex_days(row):
    days = ''
    if re.search('hours',row['date']) is not None:
        print('hours',row['date'])
        days = 1
    else:
        day_search = re.search('\d+ day',row['date'])
        print('day',day_search.group(0))
        days = day_search.group(0).split(' ')[0]    
    
    #print(row,days)
    return days

In [38]:
df['days'] = df.apply(return_reg_ex_days,axis=1)

hours 7 points by tstonez 19 hours ago  | 1 comment
hours 2 points by koukouhappy 7 hours ago  | discuss
hours 3 points by nikkielizdemere 13 hours ago  | discuss
day 1 day
hours 2 points by AnnaOnTheWeb 13 hours ago  | discuss
day 1 day
hours 3 points by yukiegosapporo 21 hours ago  | discuss
day 1 day
day 2 day
day 2 day
day 1 day
day 2 day
day 1 day
day 1 day
day 2 day
day 2 day
day 3 day
day 1 day
day 2 day
day 2 day
day 2 day
day 2 day
day 1 day
day 2 day
day 3 day
day 3 day
day 7 day
day 3 day
day 7 day
day 3 day
day 8 day
day 6 day
day 8 day
day 7 day
day 6 day
day 2 day
day 6 day
day 9 day
day 6 day
day 5 day
day 8 day
day 5 day
day 7 day
day 7 day
day 5 day
day 9 day
day 13 day
day 15 day
day 11 day
day 15 day
day 15 day
day 8 day
day 6 day
day 6 day
day 15 day
day 23 day
day 16 day
day 7 day
day 19 day
day 12 day
day 14 day
day 19 day
day 31 day
day 8 day
day 9 day
day 14 day
day 20 day
day 20 day
day 9 day
day 14 day
day 19 day
day 15 day
day 17 day
day 10 day
day 28 day
day 13 day
day 19 day
day 14 day
day 14 day
day 20 day
day 23 day
day 14 day
day 9 day
day 21 day
day 23 day
day 21 day
day 23 day
day 12 day
day 13 day
day 16 day
day 28 day
day 22 day
day 14 day
day 14 day
day 36 day
day 15 day
day 15 day
day 15 day
day 27 day
day 21 day
day 23 day
day 15 day
day 16 day
day 16 day
day 21 day
day 30 day
day 17 day
day 30 day
day 38 day
day 23 day
day 29 day
day 18 day
day 26 day
day 32 day
day 20 day
day 20 day
day 20 day
day 29 day
day 24 day
day 21 day
day 21 day
day 33 day
day 28 day
day 22 day
day 40 day
day 22 day
day 22 day
day 37 day
day 23 day
day 30 day
day 34 day
day 29 day
day 36 day
day 35 day
day 35 day
day 25 day
day 29 day
day 29 day
day 29 day
day 33 day
day 26 day
day 27 day
day 45 day
day 49 day
day 34 day
day 36 day
day 44 day
day 28 day
day 43 day
day 34 day
day 55 day
day 36 day
day 62 day
day 30 day
day 36 day
day 36 day
day 51 day
day 44 day
day 49 day
day 48 day
day 37 day
day 37 day
day 51 day
day 44 day
day 42 day
day 44 day
day 50 day
day 49 day
day 36 day
day 37 day
day 37 day
day 37 day
day 52 day
day 52 day
day 60 day
day 50 day
day 52 day
day 48 day
day 51 day
day 62 day

In [39]:
df.head()

,title,date,days
0,10 Years of Open Source Machine Learning,7 points by tstonez 19 hours ago | 1 comment,1
1,What machines can learn from Apple Watch: dete...,2 points by koukouhappy 7 hours ago | discuss,1
2,The Deep Roots of Javascript Fatigue,3 points by nikkielizdemere 13 hours ago | di...,1
3,Data science intro for math/phys background,9 points by pmigdal 1 day ago | discuss,1
4,"Data Science Pop-Up in Austin, TX",2 points by AnnaOnTheWeb 13 hours ago | discuss,1

In [40]:
df.tail()

,title,date,days
175,Finding Nearest Neighbors in SQL,7 points by jonathanbishop 50 days ago | 2 co...,50
176,Free Data Science Curriculum,8 points by Veerle 52 days ago | discuss,52
177,Deep Learning is Easy - Learn Something Harder,5 points by ebellm 48 days ago | discuss,48
178,"FlyElephant as a tool for calculations in C++,...",6 points by m31 51 days ago | discuss,51
179,Yahoo Releases the Largest-ever Machine Learni...,13 points by srinify 62 days ago | 1 comment,62

In [41]:
df.to_csv('data_tau_days.csv')