- Regular Expression (http://regexr.com/)

Stopword Removal, Stemming

Regex - Regular expression is a way of selecting text using symbols

In [126]:
import re

In [ ]:
test_string = "Hello world, welcome to 2016."

In [ ]:
a = re.search('Hello world,welcome to 2016',test_string)

In [ ]:
print(a)

In [ ]:
a = re.search('Hello world, welcome to 2016',test_string)

In [ ]:
print(a)

In [ ]:
a = re.search('.',test_string)

In [ ]:
print(a)

In [ ]:
a = re.search('.*',test_string)

In [ ]:
print(a)

In [ ]:
a = re.search('Hello',test_string)
print(a)


?	The question mark indicates zero or one occurrences of the preceding element. For example, colou?r matches both "color" and "colour".

\*	The asterisk indicates zero or more occurrences of the preceding element. For example, ab*c matches "ac", "abc", "abbc", "abbbc", and so on.

\+	The plus sign indicates one or more occurrences of the preceding element. For example, ab+c matches "abc", "abbc", "abbbc", and so on, but not "ac".

In [ ]:
a = re.search('\w.',test_string)
print(a)

In [ ]:
a = re.search('\w*',test_string)
print(a)

# Using regex lets generate another column

In [118]:
import pandas as pd

In [119]:
df = pd.read_csv('data_tau.csv')

In [120]:
df.head()

,Unnamed: 0,title,date
0,0,10 Years of Open Source Machine Learning,7 points by tstonez 19 hours ago | 1 comment
1,1,What machines can learn from Apple Watch: dete...,2 points by koukouhappy 7 hours ago | discuss
2,2,The Deep Roots of Javascript Fatigue,3 points by nikkielizdemere 13 hours ago | di...
3,3,Data science intro for math/phys background,9 points by pmigdal 1 day ago | discuss
4,4,"Data Science Pop-Up in Austin, TX",2 points by AnnaOnTheWeb 13 hours ago | discuss

In [121]:
df.columns

Index([u'Unnamed: 0', u'title', u'date'], dtype='object')

In [122]:
df.drop('Unnamed: 0',inplace=True,axis=1)

In [128]:
df.head()

,title,date
0,10 Years of Open Source Machine Learning,7 points by tstonez 19 hours ago | 1 comment
1,What machines can learn from Apple Watch: dete...,2 points by koukouhappy 7 hours ago | discuss
2,The Deep Roots of Javascript Fatigue,3 points by nikkielizdemere 13 hours ago | di...
3,Data science intro for math/phys background,9 points by pmigdal 1 day ago | discuss
4,"Data Science Pop-Up in Austin, TX",2 points by AnnaOnTheWeb 13 hours ago | discuss

In [129]:
df.tail()

,title,date
175,Finding Nearest Neighbors in SQL,7 points by jonathanbishop 50 days ago | 2 co...
176,Free Data Science Curriculum,8 points by Veerle 52 days ago | discuss
177,Deep Learning is Easy - Learn Something Harder,5 points by ebellm 48 days ago | discuss
178,"FlyElephant as a tool for calculations in C++,...",6 points by m31 51 days ago | discuss
179,Yahoo Releases the Largest-ever Machine Learni...,13 points by srinify 62 days ago | 1 comment

In [124]:
date_string = df['date'][0]

In [125]:
date_string

'7 points by tstonez 19 hours ago  | 1 comment'

** if the string contains hours we can consider it 1 day and if it has days we can pick the days **

In [165]:
def return_reg_ex_days(row):
    days = ''
    if re.search('hours',row['date']) is not None:
        print('hours',row['date'])
        days = 1
    else:
        days_search = re.search('\d+ days',row['date'])
        day_search = re.search('\d+ day',row['date'])
        if  days_search is not None:
            print('days',days_search.group(0))
            days = days_search.group(0).split(' ')[0]
        elif day_search is not None:
            print('day',day_search.group(0))
            days = day_search.group(0).split(' ')[0]    
    
    #print(row,days)
    return days

In [166]:
df['days'] = df.apply(return_reg_ex_days,axis=1)

('hours', '7 points by tstonez 19 hours ago  | 1 comment')
('hours', '2 points by koukouhappy 7 hours ago  | discuss')
('hours', '3 points by nikkielizdemere 13 hours ago  | discuss')
('day', '1 day')
('hours', '2 points by AnnaOnTheWeb 13 hours ago  | discuss')
('day', '1 day')
('hours', '3 points by yukiegosapporo 21 hours ago  | discuss')
('day', '1 day')
('days', '2 days')
('days', '2 days')
('day', '1 day')
('days', '2 days')
('day', '1 day')
('day', '1 day')
('days', '2 days')
('days', '2 days')
('days', '3 days')
('day', '1 day')
('days', '2 days')
('days', '2 days')
('days', '2 days')
('days', '2 days')
('day', '1 day')
('days', '2 days')
('days', '3 days')
('days', '3 days')
('days', '7 days')
('days', '3 days')
('days', '7 days')
('days', '3 days')
('days', '8 days')
('days', '6 days')
('days', '8 days')
('days', '7 days')
('days', '6 days')
('days', '2 days')
('days', '6 days')
('days', '9 days')
('days', '6 days')
('days', '5 days')
('days', '8 days')
('days', '5 days')
('days', '7 days')
('days', '7 days')
('days', '5 days')
('days', '9 days')
('days', '13 days')
('days', '15 days')
('days', '11 days')
('days', '15 days')
('days', '15 days')
('days', '8 days')
('days', '6 days')
('days', '6 days')
('days', '15 days')
('days', '23 days')
('days', '16 days')
('days', '7 days')
('days', '19 days')
('days', '12 days')
('days', '14 days')
('days', '19 days')
('days', '31 days')
('days', '8 days')
('days', '9 days')
('days', '14 days')
('days', '20 days')
('days', '20 days')
('days', '9 days')
('days', '14 days')
('days', '19 days')
('days', '15 days')
('days', '17 days')
('days', '10 days')
('days', '28 days')
('days', '13 days')
('days', '19 days')
('days', '14 days')
('days', '14 days')
('days', '20 days')
('days', '23 days')
('days', '14 days')
('days', '9 days')
('days', '21 days')
('days', '23 days')
('days', '21 days')
('days', '23 days')
('days', '12 days')
('days', '13 days')
('days', '16 days')
('days', '28 days')
('days', '22 days')
('days', '14 days')
('days', '14 days')
('days', '36 days')
('days', '15 days')
('days', '15 days')
('days', '15 days')
('days', '27 days')
('days', '21 days')
('days', '23 days')
('days', '15 days')
('days', '16 days')
('days', '16 days')
('days', '21 days')
('days', '30 days')
('days', '17 days')
('days', '30 days')
('days', '38 days')
('days', '23 days')
('days', '29 days')
('days', '18 days')
('days', '26 days')
('days', '32 days')
('days', '20 days')
('days', '20 days')
('days', '20 days')
('days', '29 days')
('days', '24 days')
('days', '21 days')
('days', '21 days')
('days', '33 days')
('days', '28 days')
('days', '22 days')
('days', '40 days')
('days', '22 days')
('days', '22 days')
('days', '37 days')
('days', '23 days')
('days', '30 days')
('days', '34 days')
('days', '29 days')
('days', '36 days')
('days', '35 days')
('days', '35 days')
('days', '25 days')
('days', '29 days')
('days', '29 days')
('days', '29 days')
('days', '33 days')
('days', '26 days')
('days', '27 days')
('days', '45 days')
('days', '49 days')
('days', '34 days')
('days', '36 days')
('days', '44 days')
('days', '28 days')
('days', '43 days')
('days', '34 days')
('days', '55 days')
('days', '36 days')
('days', '62 days')
('days', '30 days')
('days', '36 days')
('days', '36 days')
('days', '51 days')
('days', '44 days')
('days', '49 days')
('days', '48 days')
('days', '37 days')
('days', '37 days')
('days', '51 days')
('days', '44 days')
('days', '42 days')
('days', '44 days')
('days', '50 days')
('days', '49 days')
('days', '36 days')
('days', '37 days')
('days', '37 days')
('days', '37 days')
('days', '52 days')
('days', '52 days')
('days', '60 days')
('days', '50 days')
('days', '52 days')
('days', '48 days')
('days', '51 days')
('days', '62 days')

In [167]:
df.head()

,title,date,days
0,10 Years of Open Source Machine Learning,7 points by tstonez 19 hours ago | 1 comment,1
1,What machines can learn from Apple Watch: dete...,2 points by koukouhappy 7 hours ago | discuss,1
2,The Deep Roots of Javascript Fatigue,3 points by nikkielizdemere 13 hours ago | di...,1
3,Data science intro for math/phys background,9 points by pmigdal 1 day ago | discuss,1
4,"Data Science Pop-Up in Austin, TX",2 points by AnnaOnTheWeb 13 hours ago | discuss,1

In [168]:
df.tail()

,title,date,days
175,Finding Nearest Neighbors in SQL,7 points by jonathanbishop 50 days ago | 2 co...,50
176,Free Data Science Curriculum,8 points by Veerle 52 days ago | discuss,52
177,Deep Learning is Easy - Learn Something Harder,5 points by ebellm 48 days ago | discuss,48
178,"FlyElephant as a tool for calculations in C++,...",6 points by m31 51 days ago | discuss,51
179,Yahoo Releases the Largest-ever Machine Learni...,13 points by srinify 62 days ago | 1 comment,62

In [ ]:
df.